# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Default to 2 spaces for all files
[*]
indent_style = space
indent_size = 2

# Set specific file extensions
[*.js]
indent_style = space
indent_size = 2

[*.ts]
indent_style = space
indent_size = 2

[*.sol]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2
