SOCKET_API_KEY="72a5b4b0-e727-48be-8aa1-5da9d62fe635" # public
LIFI_API_KEY="jumper.exchange" # integrator
SQUID_API_KEY="squid-swap-widget-v2" # integrator

TEST_MNEMONIC="test test test test test test test test test test test junk"

TENDERLY_USER="astrolabs"
TENDERLY_PROJECT="swapper"
TENDERLY_API_KEY=""
REGISTRY_DIR="../registry"

# hardhat config
HARDHAT_CHAIN_ID=42161 # ganache/foundry anvil fork chainId to be used with hardhat
HARDHAT_FORK_URL="" # leave blank to use ganache and fork from the above chainId

# tenderly config
TENDERLY_CHAIN_ID=42161 # tenderly fork to be used with tenderly
TENDERLY_MODE=testnet

arbitrum-tenderly-fork-id="842a8d73-1626-48a2-80e5-96376e61c6d2"
ethereum-tenderly-fork-id=""
optimism-tenderly-fork-id=""
polygon-tenderly-fork-id=""
avalanche-tenderly-fork-id=""
bnb-chain-tenderly-fork-id=""
base-tenderly-fork-id=""
gnosis-tenderly-fork-id=""
moonriver-tenderly-fork-id=""
moonbeam-tenderly-fork-id=""
fantom-tenderly-fork-id=""

ethereum-scan-api-key=""
arbitrum-scan-api-key=""
optimism-scan-api-key=""
polygon-scan-api-key=""
avalanche-scan-api-key=""
bnb-chain-scan-api-key=""
base-scan-api-key=""
gnosis-scan-api-key=""
moonriver-scan-api-key=""
moonbeam-scan-api-key=""
fantom-scan-api-key=""
polygon-zkevm-scan-api-key=""
linea-scan-api-key=""
opbnb-scan-api-key="" # all of nodereal.io explorers
